<h1>Topics</h1>

<p>
  <%= link_to "New Topic", new_topic_path, class: "btn btn-primary" %>
</p>

<% @topics.each do |topic| %>
  <div class="card">
    <h3><%= link_to topic.title, topic_path(topic) %></h3>
    <p>
      <strong>Persona:</strong>
      <%= topic.persona&.name || "None" %>
    </p>
    <p><%= truncate(topic.description, length: 160) %></p>
  </div>
<% end %>

<% if @topics.empty? %>
  <p>No topics yet. Create one above.</p>
<% end %>
